.controller.fight-stick {
    background: url(http://www.zak123.com/u/base.png) center no-repeat;
    background-position: 247px 55px;
}

.fight-stick .arrows {
    display: none;
}

.fight-stick .quadrant{
    display: none;
}
.fight-stick .bumper.left{
    display: none;
}
.fight-stick .trigger-button.left{
    display: none;
}
/* Stolen from http://www.zak123.com/u/3buttons.css */
/* Here comes my things */
/* Stolen from http://www.zak123.com/u/3buttons.css */
/* Here comes my things */
.fight-stick .a {
    background-image:url("https://raw.githubusercontent.com/OriolFilter/arcade_layout/master/src/P.png");
}
.fight-stick .x {
    background-image:url("https://raw.githubusercontent.com/OriolFilter/arcade_layout/master/src/K.png");
}
.fight-stick .y {
    background-image:url("https://raw.githubusercontent.com/OriolFilter/arcade_layout/master/src/S.png");
}
.fight-stick .b {
    background-image:url("https://raw.githubusercontent.com/OriolFilter/arcade_layout/master/src/Blank.png");
}
.fight-stick .bumper.right {
    background-image:url("https://raw.githubusercontent.com/OriolFilter/arcade_layout/master/src/H.png");
}
/*.fight-stick .x {*/
/*    background-color:blue;*/
/*}*/
/*.fight-stick .y {*/
/*    background-color:#57b013;*/
/*}*/
/*.fight-stick .trigger-button.right {*/
/*    background-color: orange;*/
/*}*/
/*.fight-stick .bumper.right {*/
/*    background-color: red;*/
/*}*/

/*.button.pressed, .trigger-button.pressed, .bumper.pressed {*/
/*    background:#212121*/
/*}*/