/* xrd Type-A */
.controller.fight-stick {
    background: url(http://www.zak123.com/u/base.png) center no-repeat;
    background-position: 247px 55px;
}

.fight-stick .arrows {
    display: none;
}

.fight-stick .quadrant{
    display: none;
}
.fight-stick .bumper.left{
    display: none;
}
.fight-stick .trigger-button.left{
    display: none;
}

/* Stolen from http://www.zak123.com/u/3buttons.css */
/* Here comes my things */
.fight-stick .a {
    background-image:url("https://raw.githubusercontent.com/OriolFilter/arcade_layout/master/src/MBTL/D.png");
    background-position: center;
    background-size: contain;
}
.fight-stick .x {
    background-image:url("https://raw.githubusercontent.com/OriolFilter/arcade_layout/master/src/MBTL/A.png");
    background-position: center;
    background-size: contain;
}
.fight-stick .y {
    background-image:url("https://raw.githubusercontent.com/OriolFilter/arcade_layout/master/src/MBTL/B.png");
    background-position: center;
    background-size: contain;
}
.fight-stick .b {
}
.fight-stick .bumper.right {
    background-image:url("https://raw.githubusercontent.com/OriolFilter/arcade_layout/master/src/MBTL/C.png");
    background-position: center;
    background-size: contain;
}
.fight-stick .trigger-button.right {
}
.controller {
    position: absolute;
    transform: initial;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}
